.Signin{
    height: 100%;
    display: flex;
    align-items: center;
}
.Signin button {
    background: linear-gradient(90deg,#00A6CD,#045a6d);
    border: none;
    padding: .6rem 2rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    box-sizing: border-box;
}
.Signin button:hover{
    background: linear-gradient(90deg,#00A6CD, #00A6CD);

}
@media (max-width: 1300px){
    .Signin{
        margin-right: 10vw;
    }
    .Signin button{
        padding: .6rem 1.5rem;

    }
}
@media (max-width: 1300px){
    .Signin button{
        padding: .5rem 1rem;

    }
}
@media (max-width: 850px){
    .Signin button{
        padding: .6rem 2rem;

    }

}
@media (max-width: 730px){
    .Signin{
        display: none;
    }
}