.Genres{
    /* position: absolute; */
    position: fixed;
    background-color: #000321c2;
    min-width: 15vw;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    /* top: 65px;
    left: 30%; */
    padding: 0;
    margin-top: 1rem;
    z-index: 555555555;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Genres li{
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 1rem;
    width: 100%;
    min-height: 5vh;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
}
.Genres li:hover{
    background-color: rgba(255, 255, 255, 0.465);
}
.show{
    opacity: 1;
}