.NavigationItems{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: rgba(255, 255, 255, 0.787);
    cursor: pointer;
    font-weight: 700;
    
}
.NavigationItems > *:hover{
    text-shadow: 2px 2px 40px white;
}